html {
  background-color: #f0f0f0;
}
.event-card {
  background-color: #e6f7ff;
  border: 1px solid #008cff;
  border-radius: 10px;
}
.event-card h2 {
  text-align: center;
  color: #020269;
  text-transform: uppercase;
}
.time {
  font-weight: bold;
  text-align: center;
}
.content {
  color: #333;
  line-height: 1.6;
}
.status {
  background-color: #020269;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}
